includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/

    # Level 9 is the highest level (max strictness)
    # Level 5 is perfect for introduction (checks types, but forgiving on some strictness)
    level: 5

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php